# Test binary, built with `go test -c`
*.test
.vscode
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependencies are not vendored by default, but a tarball is created by "make vendor"
# and provided in the release. Used by freebsd, gentoo, etc.
vendor/
vendor.tgz

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

crowdsec-cloudflare-worker-bouncer
pkg/cloudflare/worker/node_modules
pkg/cloudflare/decisions-sync-worker/node_modules

# built by make
/crowdsec-cloudflare-worker-bouncer
/crowdsec-cloudflare-worker-bouncer-*
/crowdsec-cloudflare-worker-bouncer.tgz

# built by dpkg-buildpackage
/debian/crowdsec-cloudflare-worker-bouncer
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/*-stamp

# built by rpmbuild
/rpm/BUILD
/rpm/BUILDROOT
/rpm/RPMS
/rpm/SOURCES/*.tar.gz
/rpm/SRPMS

# Claude
.claude

# Dev
dev/
